[Unit]
Description={{{ID}}} dal service
After=network.target
StartLimitIntervalSec=0

[Service]
User={{{USER}}}
Group={{{USER}}}

Type=simple
Restart=always
RestartSec=20

Environment="HOME={{{ROOT_DIR}}}/data"
Environment=TEZOS_LOG='* -> {{{model.DAL_LOG_LEVEL}}}'
WorkingDirectory={{{ROOT_DIR}}}/data

ExecStart={{{ROOT_DIR}}}/bin/dal-node run --rpc-addr {{{model.RPC_ADDR}}} {{{model.DAL_STARTUP_ARGS__CLI_ARGS}}}

{{#model.SERVICE_CONFIGURATION__ARRAY}}
{{{key}}}={{{value}}}
{{/model.SERVICE_CONFIGURATION__ARRAY}}

[Install]
WantedBy=default.target